#cans{
    position: relative;
    margin: 0 auto;
    margin-top: 5vh;
    height: 900px;
    width: 1400px;
}

.video_box{
    padding: 0;
    margin: 0;
    height: 900px;
    width: 1200px;
    background-color: black;
    position:absolute;
}

#video{
    margin: 0;
    height: 100%;
    width: 100%;
    position:absolute;
}

.item_list{
    position:absolute;
    right:0px;
    height: 900px;
    width: 200px;
    background: black;
    opacity: 0.9;
}
.item_title{
    color: white;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}
.item_ul{
    margin-left: 0px;
    background: black;
    width: 160px;
    list-style: none;
    text-align: center;
}
li{
    cursor:pointer;
    color: white;
    font-size: 14px;
    line-height:30px ;
    text-align: center;
}

.item_li-hover{
    background-color: lightgray;
    color: lightcoral;
    font-weight: bold;
}

#playList-hidden {
    position: absolute;
    bottom: 450px;
    right: 0;
    width:20px ;
    height: 32px;
    background: lightgoldenrodyellow;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
    opacity: 0.5;
    z-index: 10000;
}

#playList-show1{
    margin-top: 230px;
    width:20px ;
    height: 32px;
    background:lightgoldenrodyellow;
    font-size: 16px;
    font-weight: bold;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    opacity: 1;
    visibility: hidden;
}

#playList-show1:hover,#playList-hidden:hover{
    opacity: 0.7;
}
.select{
    color: lightcoral;
}

/*aside #playList-show{
	position: absolute;
	bottom: 250px;
	left: 0;
	width:20px ;
	height: 32px;
	background: lightgoldenrodyellow;
	font-size: 16px;
	font-weight: bold;
	border-top-left-radius:10px ;
	border-bottom-left-radius:10px ;
	opacity: 0.5;
	z-index: 1000;/*这里是第一优先级，为什么没显示在视频上方
	transform:translateX(-20px) ;
	display: block;
}*/