body{
    background-color:#556b2f;
}

.center-in-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: #1d7db1;
}

.table-style{
    margin-top: 10px;
    float: bottom;
}

.title-style{
    width: 70px;
    height: 30px;
    color: chocolate;
}

.form-title-style{
    text-align: center;
    font-size: 20px;
    color: darkseagreen;
}

