* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.5 '微软雅黑';
    background: linear-gradient(to bottom right, #19CAAD , #D6D5B7);
}

.login_wrap {
    margin: 200px auto 0;
    width: 230px;
    text-align: center;
}

.login_wrap h3 {
    font-family: '微软雅黑', serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.9);
}

.login_border {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #D1BA74;
    padding: 0 5px 15px;
    overflow: hidden;
}

.input {
    margin: 15px auto 0;
    width: 280px;
}

.items{
    padding: 0;

}

.items li {
    margin-left: 5px;
    line-height: 35px;
    margin-bottom: 5px;
    list-style: none;
    clear: both;
    text-align: center;
    width: 210px;
}

.input label {
    display: block;
    margin-bottom: 5px;
}

.input_style {
    width: 200px;
    border: 1px solid #e6e6e6;
    background: #BEEDC7;
    padding: 3px;
    height: 30px;
    line-height: 30px;
    font-family: Arial, serif;
    color: #666;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.input_style:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    background: #D6D5B7;
}

.btn {
    width: 100%;
    height: 30px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgb(255, 155, 0);
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    transition: 0.1s linear;
}

.btn:hover {
    background-color: rgb(255, 125, 0);
    text-decoration: none;
    transition: 0.1s linear;
}


.copyright {
    color: #585858;
    margin-top: 10px;
    text-align: center;
}

.copyright a:link, .admin_copyright a:visited {
    color: #f90;
}

.copyright a:hover {
    color: #f90;
}

.back{
    text-decoration: none;
    color: #ECAD9E;
}