.hover_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4E5465;
    opacity: 0.4;
    visibility: hidden;
}

.auto_div{
    position: absolute;
    width: 500px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    background-color: #6A6A6A;
    visibility: hidden;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}


.page-wrap {
    text-align: center;
}
.pagination {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    margin: 10px auto;
    font-size: 0;
}

.pagination li {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px solid #e2e2e2;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    text-align: center;
}
.pagination li a {
    display: block;
    width: 100%;
    height: 100%;
}
.pagination li.active {
    border: 1px solid #1E9FFF;
}
.pagination li.active span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1E9FFF;
    color: #fff;
}
.pagination li.disabled {
    background: #f2f2f2;
}


#auto_div_uploadfile h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #999;
}

#auto_div_uploadfile #btns_upload {
    width: 300px;
    height: 100px;
}

#auto_div_uploadfile .fileList {
    width: 500px;
    height: 300px;
    overflow: auto;
    position: absolute;
    left: 0;
    bottom: 0;
}

#auto_div_uploadfile ul {
    list-style: none;
    font-size: 10px;
}

#auto_div_uploadfile ul:after {
    clear: both;
    content: "";
    display: block;
}

#auto_div_uploadfile ul:nth-child(odd) {
    background: #677077;
    color: #fff;
}

#auto_div_uploadfile li {
    float: left;
}

#selectFile{
    float: left;
}

#fileUpload{
    float: right;
}

.td_fname{
    width: 200px;
}

.td_sz{
    width: 100px;
}

.td_time{
    width: 200px;
}

.td_op{
    width: 150px;
}

#div_files{
    width: 708px;
    height: 390px;
    margin: 50px auto;
    background-color: #ffffec;
}

#table_files{
    margin: 50px auto;
    table-layout: fixed;
    font-size: 12px;
    border-collapse: collapse;

}



#table_files a{
    text-decoration: none;
    height: 390px;
    color: #0f0f0f;
}

.td_content{
    height: 20px;
    overflow: hidden;
}

#table_files tr:nth-child(even) {
    background-color: #ffffff;
}

#table_files tr:nth-child(even):hover{
    background-color: #ffffec;
}

.music_player{
    height: 200px;
    top: calc(50% - 100px);
}

.video_player{
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
}

.video_player video{
    width: 85%;
    height: 85%;
    object-fit: contain;
}

#view_div p{
    margin-top: 2%;
}


