/* CSS Document */
.urlword{
	font-size: 25px;
	font-family:"华文行楷";
	text-decoration:none;
	color:rgba(21,159,238,1.00);
	font-weight: bold;
}

.urlword:hover{
	text-decoration: none;
	color: rgba(21,159,238,1.00);
}

.ulUrl {
    padding: 0;
}

.liUrl {
    list-style-type: none;
    border: 2px solid transparent;
    padding-left: 2em;
	padding-right: 1em;
    margin: 1em 0;
    text-align: center;
}

.liUrl:hover {
    border-right-color:rgba(75,194,112,1.00);
	border-left-color:rgba(75,194,112,1.00);
	border-top-color:rgba(75,194,112,1.00);
	border-bottom-color:rgba(75,194,112,1.00);
	background-image: url("../img/tg.png");
	background-size:contain;
	background-repeat: no-repeat;
}

.title{
	font-family:"隶书";
    color: darkgreen;
    font-size: 50px;
	margin-top: 20px;
	margin-left: 20px;
}

.urls{
	position:absolute;
}


.beiAnUrl{
    font-size: 15px;
}


/**
*在Position属性值为absolute的同时，
*如果有一级父对象（无论是父对象还是祖父对象，或者再高的辈分，一样）
*的Position属性值为Relative时，则上述的相对浏览器窗口定位将会变成相对父对象定位，
*这对精确定位是很有帮助的。
*/
*{
    margin: 0;
    padding: 0;
	list-style-type:none;
}
/*nav导航盒子*/
div.nav{
    width: 100%;
    height:36px;
    line-height: 36px;
    font-size: 12px;
    position: relative;
	margin:2px auto 0 auto;
}
/*nav-main*/
ul.nav-main{
    width: 100px;
    float: right;
    height: 100%;
    text-align: center;
    list-style-type: none;
}
ul.nav-main span{
    display: inline-block;
    margin-left: 18px;
    width: 7px;
    height: 7px;
    background: url('../img/down-icon.png') no-repeat;
}
/*图标向上旋转*/
.hover-up{
    transition-duration: .5s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
/*图标向下旋转*/
.hover-down{
    transition-duration: .5s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
/*导航条设置*/
ul.nav-main>li{
    width: 70px;
    height: 100%;
    display: block;
    float: right;
    color: #000000;
    margin-right: 1px;
    cursor: pointer;

}
ul.nav-main>li:hover{
    background: #9b9b9b;
}
/*隐藏盒子设置*/
div.hidden-box{
    width: 68px;
    border: 1px solid #9b9b9b;
    border-top: 0;
    position: absolute;
    display:none;
    top: 36px;
}
.hidden-box>ul{
    list-style-type: none;
    color: #9b9b9b;
    cursor: pointer;
}
ul a{
    text-align: center;
    text-decoration: none;
    color: #3d4444;
}

.hidden-box li:hover{
    background: #9b9b9b;
    color: #000000;
}
/*隐藏盒子位置设置*/
.hidden-loc-index{
    right: 1px;
}
.box04{
	right:0px;
}