html{
    margin: 0;
    padding:0;
    height: 100%;
}
body{
    margin: 0;
    padding:0;
    height: 100%;
    background-image: url("../img/weather.png");
    background-repeat: repeat;
}
#container {
    min-height:100%;
    height: 100%; /*IE6不识别min-height*/
    width: 100%;
    position: relative;
}
#header {
    padding: 10px;
}
#page {
    width: 960px;
    margin-left: 0;
    padding-bottom: 20px;/*等于footer的高度*/
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;/*脚部的高度*/
    clear:both;
    text-align: center;
}
/*=======主体内容部分=======*/
#left {
    /*float: left;*/
    float: left;
}
#content {
    float: left;
    width: 480px;
    margin-right: 20px;
}
#right{
    float: right;
    width: 220px;
}

.login{
    float:right;
    text-align: right;
    text-decoration: none;
}