body,html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#father{
    width: 100%;
    height: 100%;
    padding: 0;
}

#top_bar{
    height: 35px;
    width: calc(100% - 20px);
    background-color: #00a0e9;
    text-align: right;
    padding-right: 20px;
    line-height: 35px;
}

#top_bar a{
    text-decoration: none;
}

#content_left{
    height: 850px;
    width: 15%;
    float: left;

}

#content_center{
    height: 850px;
    width: 70%;
    float: left;
    background-color: #00a8c6;
}

#content_center #left_box{
    height: 850px;
    width: 40%;
    float: left;
    background-color: #3d4444;
}

#content_center #right_box{
    height: 750px;
    width: 60%;
    float: left;
    background-color: #7b7b7b;
    text-align: center;
    padding-top: 100px;
}

#content_right{
    height: 850px;
    width: 15%;
    float: left;

}

#bottom_bar{
    height: 50px;
    width: 100%;
    clear: both;
    background-color: #1d3e81;
}

.article_box{
    height: 75px;
    width: 550px;
    background: #2b542c;
    margin-top: 5px;
    margin-left: calc((100% - 600px) / 2);
    text-align: left;
    padding-left: 50px;
}

.article_box a{
    color: #0C0C0C;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}


.article_box h1{
    font-size: 12px;
}

.article_box .author{
    margin-left: 50px;
    float: left;
}

.article_box .time{
    position: fixed;
    margin-left: 300px;
    float: left;
}





.page-wrap {
    text-align: center;
}

.page-wrap a{
    text-decoration: none;
    color: #0F192A;
}

.pagination {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    margin: 10px auto;
    font-size: 0;
}

.pagination li {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px solid #e2e2e2;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    text-align: center;
}
.pagination li a {
    display: block;
    width: 100%;
    height: 100%;
}
.pagination li.active {
    border: 1px solid #1E9FFF;
}
.pagination li.active span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1E9FFF;
    color: #fff;
}
.pagination li.disabled {
    background: #f2f2f2;
}
