.hover_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4E5465;
    opacity: 0.4;
    visibility: hidden;
}

.auto_div{
    position: absolute;
    width: 500px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    background-color: #6A6A6A;
    visibility: hidden;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}