html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: #4a77d4;
}

#alldiv{
    margin: auto;
    width: 500px;
    height: 600px;
}

#filelist{
    width: 450px;
    height: 450px;
    padding-left: 50px;
    background-color: #64448f;
}

#btn{
    width: 500px;
    height: 100px;
    background-color: #ef3f52;
    text-decoration: none;
}

#head{
    width: 500px;
    height: 50px;
    background-color: #ffff00;
    text-decoration: none;
}

.title{
    font-size: 20px;
}


.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=88);
}
.white_content {
    display: none;
    position: absolute;
    top: 33%;
    left: 33%;
    width: 33%;
    height: 40%;
    padding: 20px;
    border: 10px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

#close_btn{
    text-align: right;
}


#close_btn a{
    text-decoration: none;
}


label{
    position: relative;
}

#fileInput{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    padding: 5px 10px;
}

#upLoadBtn{
    width: 60px;
    height: 30px;
    background: #00b0f0;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

#selectFile{
    text-align: center;
    line-height: 30px;
    width: 60px;
    height: 30px;
    background: #00b0f0;
    color: #FFF;
    border: none;
    border-radius: 5px;
}